body {
  font-family: arial;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

#container {
  flex-direction: column;
  padding: 0;
  border: none;
}

.navigation {
  flex-direction: row;
 justify-content:  space-evenly;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 85%;
  padding: .5rem;
  
}

.navigation a {
  color: lightgray;
  text-decoration: none;
}

.block {
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  padding: .5rem;
  padding-top: 2.5rem;
  font-size: 1.2em;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  color: black; bold;
  font-family: arial;
  font-size: 50px;
}
h2{
  color: black;
  font-family: arial;
  font-size: 25px;
  letter-spacing: normal;
  font-weight: 900px;
}

.flex {
  display: flex;
}