body {
  font-family: arial;
  font-size: 0.75em;
  margin: 0;
}

#container {
  flex-direction: column;
  padding: 0;
  border: none;
}

.navigation {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 80%;
  padding: 1%;
}

.navigation a {
  color: lightgray;
  text-decoration: none;
}

.flex {
  display: flex;
}