body {
  font-family: arial;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  text-align: center;
}

#container {
  flex-direction: column;
  padding: 0;
  border: none;
}

.navigation {
  flex-direction: row;
  justify-content:  space-around;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 90%;
  padding: .5em;
}

.navigation a {
  color: lightgray;
  text-decoration: none;
}

.block {
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  padding: 1em;
  padding-top: 4em;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}


.flex {
  display: flex;
}