body {
  font-family: arial;
  font-size: 1em;
}

#container {
  flex-direction: column;
  padding: 1%;
  margin: 0 auto;
}

#navigation {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.flex {
  display: flex;
}